<Nav segment={child.segment}/>
<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">Mix Nitrous</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" on:click="w3_open()">&#9776;</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" on:click="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<main class="w3-main" style="margin-left:300px">
	<svelte:component this={child.component} {...child.props}/>
</main>

<style>
	main {
		position: relative;
		max-width: 56em;
		background-color: white;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>

<script>
	export default {
		methods: {
			w3_open () {
				document.getElementById("mySidebar").style.display = "block";
    			document.getElementById("myOverlay").style.display = "block";
			},
			w3_close () {
				document.getElementById("mySidebar").style.display = "none";
    			document.getElementById("myOverlay").style.display = "none";
			}
		},
		components: {
			Nav: '../components/Nav.html',
		}
	};
</script>