<svelte:head>
	<title>Sapper project template</title>
</svelte:head>
<!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Photo grid -->
  <div class="w3-row w3-small">
    <p>dope</p>
  </div>
  <div class="w3-row w3-hide-small">
    <div class="w3-third">
      <img src="nitro-japan.jpeg" style="width:100%" on:click="onClick(this)" alt="A boy surrounded by beautiful nature">
      <img src="pouring-chai.jpeg" style="width:100%" on:click="onClick(this)" alt="A girl, and a train passing">
    </div>

    <div class="w3-third">
      <img src="nitro-tejos.jpeg" style="width:100%" on:click="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
      <img src="cup-n-beans.jpeg" style="width:100%" on:click="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
      <img src="roasted-beans.jpeg" style="width:100%" on:click="onClick(this)" alt="What a beautiful day!">
    </div>
    
    <div class="w3-third">
      <img src="chai-light.jpeg" style="width:100%" on:click="onClick(this)" alt="Waiting for the bus in the desert">
      <img src="coffee-shop-americano.jpeg" style="width:100%" on:click="onClick(this)" alt="Canoeing again">
      <img src="nitro-stumptown.jpeg" style="width:100%" on:click="onClick(this)" alt="What a beautiful scenery this sunset">
      <img src="nitro-verve.jpeg" style="width:100%" on:click="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>
  </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" on:click="hide(this)">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image" alt="a placehold image">
      <p id="caption"></p>
    </div>
  </div>
  <div class="w3-continer w3-dark-grey w3-padding-32 w3-padding-large" id="why">
    <h4 class="w3-center"><b>Why Nitrous?</b></h4>
	  <p>Nitro coffee offers a thick and creamy texture that sets it apart from regular coffee.</p>
    <p>Similar to other beverages, such as sparkling water or soda, nitro coffee is infused with small gas bubbles that alter the mouthfeel.</p>
    <p>However, while these other beverages are produced using carbon dioxide, nitro coffee is infused with nitrogen.</p>
    <p>This gives it a frothy, foam-like texture and a smooth mouthfeel that is often compared to beer.</p>
    <p>For this reason, ingredients used to enhance the texture of regular coffee — such as milk or creamer — are typically not necessary in nitro coffee.</p>
	</div>
  <!-- About section -->
  <div class="w3-container w3-light-grey w3-center w3-text-dark-grey w3-padding-32" id="about">
    <h4><b>About Us</b></h4>
    <div class="w3-content w3-justify" style="max-width:600px">
      <h4>Mix Nitrous</h4>
      <p>We were a group spun out of a Hackathon. Developers enjoy coffee, nitrous coffee is the latest crave so why not engineer a solution for engineers to enjoy?</p>
      <p>mail: <a href="mailto:contact@mixnitrous.com">contact@mixnitrous.com</a></p>
      
    </div>
  </div>

  <!-- Contact section
  <div class="w3-container w3-dark-grey w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
      <h4 class="w3-center"><b>Contact Me</b></h4>
      <p>Do you want me to photograph you? Fill out the form and fill me in with the details :) I love meeting new people!</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input w3-border" type="text" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Message</label>
          <input class="w3-input w3-border" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
      </form>
    </div>
  </div>-->
<script>
	export default {
		methods: {
			onClick (element) {
				document.getElementById("img01").src = element.src;
				document.getElementById("modal01").style.display = "block";
				var captionText = document.getElementById("caption");
				captionText.innerHTML = element.alt;
			},
			hide (element) {
				element.style.display='none'
			}
		}
	}
</script>