<div class="w3-hide-large" style="margin-top:83px"></div>
<div class="w3-row w3-small">
    <div class="w3-col">
    <div class="w3-third"> Login </div>
    <div class="w3-third"> Sign Up</div>
    </div>
</div>
