<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center w3-border-bottom w3-border-black" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <img src="mix-nitrous-logo-192.png" alt="Me" class="w3-image" width="192" height="192">
  <h3 class="w3-padding-32 w3-center"><b>Mix<br>Nitrous</b></h3>
  <a href="javascript:void(0)" on:click="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <a href="#why" on:click="w3_close()" class="w3-bar-item w3-button">Why Nitrous?</a> 
  <a href="#about" on:click="w3_close()" class="w3-bar-item w3-button">About Us!</a> 
  <a href="/signin" on:click="w3_close()" class="w3-bar-item w3-button">Sign In.</a>
  
</nav>

<script>
	export default {
		methods: {
			w3_open () {
				document.getElementById("mySidebar").style.display = "block";
    			document.getElementById("myOverlay").style.display = "block";
			},
			w3_close () {
				document.getElementById("mySidebar").style.display = "none";
    			document.getElementById("myOverlay").style.display = "none";
			}
		}
	};
</script>